In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("sms.db")

In [3]:
cur = conn.cursor()

In [9]:
cur.execute('''
            CREATE TABLE STD(
            STD INT,
            SNAME CHAR(40),
            EMAIL VARCHAR(60),
            CITY CHAR(40)
            )
            ''')

conn.commit()

In [11]:
cur.execute('''
            CREATE TABLE COURSE(
            COURSE INT,
            COURSENAME CHAR(40),
            SID INT,
            PRICE FLOAT
            )
            ''')

In [23]:
cur.execute('''
            CREATE TABLE TRANS (
            TID INT,
            SID INT,
            COURSE INT,
            METHOD VARCHAR(40)
            )
            ''')
conn.commit()

In [22]:
cur.execute("DROP TABLE TRANS")